<div class="brewerys-container">
  <h2><%= "#{@area.name}の蔵元一覧" %></h2>
  <%= link_to '蔵元登録', new_area_brewery_path(@area) %>
  <%= link_to '地域検索へ戻る', areas_path %>
  <div class="brewery-container">
    <% @breweries.each do |brewery| %>
      <div class="brewery-select">
        <%= link_to brewery.name, brewery_path(brewery) %>
      </div>
    <% end %>
  </div>
</div>